/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #F1F1F1;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  height: auto;
  min-height: 70px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #000000;
  background: #CCCCCC;
}
.navbar .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.navbar .menu > span {
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  font-weight: 700;
  width: 100px;
  text-align: center;
}
.navbar .menu > span::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: #000000;
  transition: all 0.2s ease-out;
}
.navbar .menu > span:hover::after {
  width: 100%;
}
.navbar .menu > span > a {
  text-decoration: none;
  color: #000000;
}

.accueil > div > .cercle-portrait {
  margin: 80px 0 20px 0;
}
.accueil > div > h1 {
  font-size: 3rem;
  font-family: "Abril Fatface", sans-serif;
  padding-bottom: 10px;
}
.accueil > div > .text-animation {
  font-size: 1.5rem;
  padding: 20px;
}

.cercle-portrait > img {
  width: 250px;
  height: auto;
}

.presentation {
  width: 100%;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  border-top: 1px dashed #333333;
  border-bottom: 1px dashed #333333;
  color: #FFFFFF;
}
.presentation .titre-pres {
  font-size: 1.8rem;
  text-align: center;
  margin: 50px 0 50px 0;
}

.container-presentation {
  display: flex;
  width: 100%;
  padding-left: 200px;
}
.container-presentation .fond-forme {
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  width: 2300px;
  height: 1500px;
  position: absolute;
  border-radius: 5px;
  transform: rotate(65deg);
  left: 0;
  z-index: -1;
}
.container-presentation .pres-gauche {
  width: 600px;
  flex-shrink: 0;
  margin-bottom: 50px;
  padding-left: 120px;
  padding-top: 20px;
}
.container-presentation .pres-gauche > h3 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Abril Fatface", sans-serif;
}
.container-presentation .pres-gauche > hr {
  width: 60px;
  margin: 0 auto 20px auto;
}
.container-presentation .pres-gauche > p {
  text-align: justify;
}
.container-presentation .pres-droite {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-presentation .pres-droite > img {
  width: 430px;
  height: auto;
  border-radius: 10px;
}

.skills-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  border-bottom: 1px dashed #333333;
  z-index: -1;
}
.skills-container .titre-exp {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Abril Fatface", sans-serif;
  margin: 50px 0 10px 0;
  font-weight: 700;
}
.skills-container > hr {
  width: 60px;
  margin: 0 auto 20px auto;
  border: 1px solid #333333;
  margin-bottom: 50px;
}

.skills-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.skills-list > li {
  width: 50%;
  padding: 20px;
}
.skills-list > li .label-skill {
  font-size: 1rem;
  font-weight: 700;
}
.skills-list > li .progress1 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress1__bar1 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 95%;
  animation: fillBar1 3000ms;
}
.skills-list > li .progress2, .skills-list > li .progress6 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress2__bar2, .skills-list > li .progress2__bar6, .skills-list > li .progress6__bar2, .skills-list > li .progress6__bar6 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 85%;
  animation: fillBar2 3000ms;
}
.skills-list > li .progress3, .skills-list > li .progress5 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress3__bar3, .skills-list > li .progress3__bar5, .skills-list > li .progress5__bar3, .skills-list > li .progress5__bar5 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 60%;
  animation: fillBar3 3000ms;
}
.skills-list > li .progress4 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress4__bar4 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 75%;
  animation: fillBar4 3000ms;
}
.skills-list > li .progress7 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress7__bar7 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 55%;
  animation: fillBar7 3000ms;
}
.skills-list > li .progress8 {
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
}
.skills-list > li .progress8__bar8 {
  height: 20px;
  padding: 5px;
  background: darkorange;
  width: 35%;
  animation: fillBar8 3000ms;
}

@keyframes fillBar1 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@keyframes fillBar2 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes fillBar3 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes fillBar4 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes fillBar7 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}
@keyframes fillBar8 {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}
@media screen and (max-width: 1300px) {
  .titre-pres {
    padding-left: 0px;
  }

  .container-presentation {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1100px) {
  .titre-pres {
    margin: 0 0 20px 0;
    padding-top: 50px;
  }

  .container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-presentation .fond-forme {
    width: 100%;
    height: 150%;
    transform: rotate(0) translateX(0) translateY(0);
  }
  .container-presentation .pres-gauche {
    width: 80%;
    margin-bottom: 10px;
    padding: 30px 0;
  }
  .container-presentation .pres-gauche > h3 {
    letter-spacing: 0;
  }
  .container-presentation .pres-gauche > p {
    font-size: 1rem;
  }
  .container-presentation .pres-droite {
    width: 80%;
    justify-content: center;
  }

  .titre-exp {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-list {
    flex-direction: column;
  }
  .skills-list > li {
    width: 100%;
  }
}
.portfolio > h1 {
  font-size: 3rem;
  font-family: "Abril Fatface", sans-serif;
  padding-bottom: 10px;
}
.portfolio > hr {
  width: 80px;
  margin: 0 auto 20px auto;
}
.portfolio .project-title {
  letter-spacing: 0.2;
  font-weight: 600;
  font-family: "Abril Fatface", sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #F1F1F1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #333333;
  width: 80%;
}
.modal .close {
  color: #6666;
  position: absolute;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal h4 {
  font-size: 2.5rem;
  font-family: "Abril Fatface", sans-serif;
  padding-bottom: 5px;
}

.project {
  display: flex;
  flex-direction: row;
}
.project > img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.project .project-details {
  display: flex;
  flex-direction: column;
}

.languages {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
}
.languages > h5 {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.languages-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.languages-list > img {
  padding-right: 10px;
  width: auto;
  height: 30px;
}

.infos {
  margin: 0 0 20px 20px;
}
.infos > p:first-child {
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  .project {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
