@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.accueil {

    & > div > .cercle-portrait {
        margin: 80px 0 20px 0;
    }

    & > div > h1 {
        font-size: 3rem;
        font-family: $font-secondary;
        padding-bottom: 10px;
    }
    & > div > .text-animation {
        font-size: 1.5rem;
        padding: 20px;
    }
}

.cercle-portrait > img {
    width: 250px;
    height: auto;
}

.presentation {
    width: 100%;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed $tertiary;
    border-bottom: 1px dashed $tertiary;
    color: $primary;

    & .titre-pres {
        font-size: 1.8rem;
        text-align: center;
        margin: 50px 0 50px 0;
    }
}

.container-presentation {
    display: flex;
    width: 100%;
    padding-left: 200px;

    & .fond-forme {
        background: #485563;
        background-image: linear-gradient(to right, #29323c, #485563);
        width: 2300px;
        height: 1500px;
        position: absolute;
        border-radius: 5px;
        transform: rotate(65deg);
        left: 0;
        z-index: -1;
    }

    & .pres-gauche {
        width: 600px;
        flex-shrink: 0;
        margin-bottom: 50px;
        padding-left:  120px;
        padding-top: 20px;

        & > h3 {
            text-align: center;
            font-size: 2rem;
            letter-spacing: 2px;
            font-family: $font-secondary;
        }

        & > hr {
            width: 60px;
            margin: 0 auto 20px auto;
        }

        & > p {
            text-align: justify;
        }
    }

    & .pres-droite {
        width: 600px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        & > img {
            width: 430px;
            height: auto;
            border-radius: 10px;
        }
    }
}



.skills-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    border-bottom: 1px dashed $tertiary;
    z-index: -1;

    & .titre-exp {
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: $font-secondary;
        margin: 50px 0 10px 0;
        font-weight: 700;
    }

    & > hr {
        width: 60px;
        margin: 0 auto 20px auto;
        border: 1px solid $tertiary;
        margin-bottom: 50px;
    }
}

.skills-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        width: 50%;
        padding: 20px;

        & .label-skill {
            font-size:1rem;
            font-weight: 700;
        }
    
        & .progress1 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar1 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 95%;
                animation: fillBar1 3000ms;
		    }
		}

        & .progress2, & .progress6 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar2, &__bar6 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 85%;
                animation: fillBar2 3000ms;
		    }
		}
        
        & .progress3, & .progress5 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar3, &__bar5 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 60%;
                animation: fillBar3 3000ms;
		    }
		}
        
        & .progress4 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar4 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 75%;
                animation: fillBar4 3000ms;
		    }
		}
        
        & .progress7 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar7 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 55%;
                animation: fillBar7 3000ms;
		    }
		}
        
        & .progress8 { 
			width: 100%;
            background: rgb(216, 216, 216);
            margin-top: 5px;
			&__bar8 {            
				height: 20px;
				padding: 5px;
				background: $skill;
                width: 35%;
                animation: fillBar8 3000ms;
		    }
		}
    }
}    

@keyframes fillBar1 {
    from { width: 0%; }
    to { width: 95%; }
}

@keyframes fillBar2 {
    from { width: 0%; }
    to { width: 85%; }
}

@keyframes fillBar3 {
    from { width: 0%; }
    to { width: 60%; }
}

@keyframes fillBar4 {
    from { width: 0%; }
    to { width: 75%; }
}

@keyframes fillBar7 {
    from { width: 0%; }
    to { width: 55%; }
}

@keyframes fillBar8 {
    from { width: 0%; }
    to { width: 35%; }
}


@media screen and (max-width: 1300px) {

    .titre-pres {
        padding-left: 0px;
    }
    

    .container-presentation {
        padding: 0 20px;
    }
    
}


@media screen and (max-width: 1100px) {

    .titre-pres {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }

    .container-presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .fond-forme {
            width: 100%;
            height: 150%;
            transform: rotate(0) translateX(0) translateY(0);
        }

        & .pres-gauche {
            width: 80%;
            margin-bottom: 10px;
            padding: 30px 0;

            & > h3 {
                letter-spacing: 0;
            }
            
            & > p {
                font-size: 1rem;
            }
        }
        
        & .pres-droite {
            width: 80%;
            justify-content: center;
        }

    }

    .titre-exp {
        font-size: 1.5rem;
    }


}


@media screen and (max-width: 768px) {

    .skills-list {
        flex-direction: column;

        & > li {
            width: 100%;
        }
    }
}
