/* Colors */
$primary : #FFFFFF;
$secondary: #000000;
$tertiary: #333333;


$bg-page : #F1F1F1;
$bg-nav: #CCCCCC;

$txt-dark : #6666;

/* Fonts */
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Abril Fatface', sans-serif;
